@import 'components/mixins';
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #fff8ab;
    box-sizing: border-box;
}
body {
    font-family: 'Alegreya', serif;
    font-size: 1.2em;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
::selection {
    background: rgb(255, 243, 0);
    color: #000;
}
.loader {
    background: #acb6e5;
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);
    background: linear-gradient(to right, #86fde8, #acb6e5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    overflow: hidden;
    opacity: 1;
    transition: opacity 300ms ease;
    &::after {
        content: "";
        position: absolute;
        top: calc(50% - 4.625rem);
        left: calc(50% - 3.625rem);
        width: 9.25rem;
        height: 9.25rem;
        border-radius: 50%;
        border-width: .4rem;
        border: .2rem solid #cce7ff;
        border-top-color: #1091ff;
        border-left-color: #1091ff;
        -webkit-animation: loader .75s linear infinite;
        animation: loader .75s linear infinite;
    }
}
@keyframes loader {
    0% {
        transform:rotate(0deg)
    }
    to {
        transform:rotate(1turn)
    }
}
.background {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    width: 100%;
    min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Neuton', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 3.6em;
    margin: 0;
    @include tablet {
        font-size: 4em;
    }
    @include desktop {
        font-size: 5em;
    }
}
.container {
    margin: 0;
    max-width: 1200px;
    display: relative;
    z-index: 1;
    @include tablet {
        margin: auto;
    }
    @include desktop {
        margin: auto;
        padding: 55px;
    }
}
.hero {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 15px;
    border-radius: 0.2em;
    @include tablet {
        padding: 20px 30px;
    }
    @include desktop {
        padding: 20px 30px;
    }
}
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include tablet {
        flex-direction: column;
    }
    @include desktop {
        flex-direction: row;
        justify-content: space-between;
    }
}
.header {
    margin-bottom: 20px;
    @include tablet {
        margin-bottom: 20px;
    }
    @include desktop {
        margin-bottom: 0;
    }
}
.subtitle {
    font-size: 1.39em;
    margin: 0;
}
.social {
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 0.2em;
    font-size: 40px;
    padding: 15px;
    @include tablet {
        font-size: 70px;
    }
    @include desktop {
        font-size: 60px;
        background-color: transparent;
        padding: 20px;
        width: 100%;
    }
}
.icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    @include desktop {
        justify-content: center;
    }
    .icon {
        text-align: center;
        display: block;
        @include desktop {
            padding: 25px;
        }
        &:first-child {
            a {
                background: #fff;
                color: #1da1f2;
                &:hover, &:focus {
                    background: #1da1f2;
                    background: -moz-linear-gradient(45deg, #1da1f2 0%, #1B93DE 100%); /* ff3.6+ */
                    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #1da1f2), color-stop(100%, #1B93DE)); /* safari4+,chrome */
                    background: -webkit-linear-gradient(45deg, #1da1f2 0%, #1B93DE 100%); /* safari5.1+,chrome10+ */
                    background: -o-linear-gradient(45deg, #1da1f2 0%, #1B93DE 100%); /* opera 11.10+ */
                    background: -ms-linear-gradient(45deg, #1da1f2 0%, #1B93DE 100%); /* ie10+ */
                    background: linear-gradient(45deg, #1da1f2 0%, #1B93DE 100%); /* w3c */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1B93DE', endColorstr='#1da1f2',GradientType=1 ); /* ie6-9 */
                    color: #fff;
                }
            }
        }
        &:nth-child(2) {
            a {
                background: #fff;
                color: #24292f;
                &:hover, &:focus {
                    background: #24292f;
                    background: -moz-linear-gradient(45deg, #24292f 0%, #16191C 100%); /* ff3.6+ */
                    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #24292f), color-stop(100%, #16191C)); /* safari4+,chrome */
                    background: -webkit-linear-gradient(45deg, #24292f 0%, #16191C 100%); /* safari5.1+,chrome10+ */
                    background: -o-linear-gradient(45deg, #24292f 0%, #16191C 100%); /* opera 11.10+ */
                    background: -ms-linear-gradient(45deg, #24292f 0%, #16191C 100%); /* ie10+ */
                    background: linear-gradient(45deg, #24292f 0%, #16191C 100%); /* w3c */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16191C', endColorstr='#24292f',GradientType=1 ); /* ie6-9 */
                    color: #fff;
                }
            }
        }
        &:last-child {
            a {
                background: #fff;
                color: #f47f24;
                &:hover, &:focus {
                    background: #f47f24;
                    background: -moz-linear-gradient(45deg, #f47f24 0%, #DE7321 100%); /* ff3.6+ */
                    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #f47f24), color-stop(100%, #DE7321)); /* safari4+,chrome */
                    background: -webkit-linear-gradient(45deg, #f47f24 0%, #DE7321 100%); /* safari5.1+,chrome10+ */
                    background: -o-linear-gradient(45deg, #f47f24 0%, #DE7321 100%); /* opera 11.10+ */
                    background: -ms-linear-gradient(45deg, #f47f24 0%, #DE7321 100%); /* ie10+ */
                    background: linear-gradient(45deg, #f47f24 0%, #DE7321 100%); /* w3c */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DE7321', endColorstr='#f47f24',GradientType=1 ); /* ie6-9 */
                    color: #fff;
                }
            }
        }
        a {
            display: block;
            background: #fff;
            border-radius: 0.05em;
            line-height: 1.2;
            width: 54px;
            height: 50px;
            cursor: pointer;
            padding-top: 4px;
            @include tablet {
                width: 90px;
                height: 82px;
                padding-top: 0;
            }
            @include desktop {
                width: 80px;
                height: 72px;
            }
        }
    }
}
main {
    display: flex;
    flex-wrap: wrap;
    p {
        font-size: 1.2em;
    }
}
.main {
    p {
        padding: 20px 0;
        @include desktop {
            padding: 10px;
            margin: 0;
            font-size: 1.83em;
        }
    }
    @include desktop {
        flex-basis: 55%;
    }
}
aside {
    @include desktop {
        flex-basis: 45%;
    }
}
.contact {
    background: #5500bf;
    background: -moz-linear-gradient(45deg, #5500bf 0%, #430094 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #5500bf), color-stop(100%, #430094)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #5500bf 0%, #430094 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #5500bf 0%, #430094 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #5500bf 0%, #430094 100%); /* ie10+ */
    background: linear-gradient(45deg, #5500bf 0%, #430094 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#430094', endColorstr='#5500bf',GradientType=1 ); /* ie6-9 */
    color: #fff;
    padding: 15px;
    border-radius: 0.2em;
    h2 {
         margin: 0;
    }
}
.form {
    input, textarea, button {
        font-family: inherit;
        width: 100%;
        font-size: 1.4em;
    }
    input, textarea {
        padding: 6px;
        margin-top: 5px;
        background: #3c0087;
        border: none;
        box-shadow: 0px 0px 3px #000 inset;
        border-radius: 0.1em;
        color: #fff;
        transition: box-shadow 100ms ease;
        outline: none;
        &:focus {
            box-shadow: 0px 0px 6px #000 inset;
        }
    }
    textarea {
        resize: none;
        height: 139px;
    }
    button {
        background: #ffea00;
        color: #24292f;
        border: none;
        padding: 10px;
        border-radius: 0.1em;
        cursor: pointer;
        transition: color 100ms ease, background-color 100ms ease;
        &:active, &:focus {
            background: #24292f;
            background: -moz-linear-gradient(45deg, #24292f 0%, #16191C 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #24292f), color-stop(100%, #16191C)); /* safari4+,chrome */
            background: -webkit-linear-gradient(45deg, #24292f 0%, #16191C 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(45deg, #24292f 0%, #16191C 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(45deg, #24292f 0%, #16191C 100%); /* ie10+ */
            background: linear-gradient(45deg, #24292f 0%, #16191C 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16191C', endColorstr='#24292f',GradientType=1 ); /* ie6-9 */
            color: #fff;
        }
    }
    .form-field {
        padding: 5px 0;
        label {
            font-family: inherit;
        }
    }
}
footer {
    text-align: center;
    padding-top: 20px;
}
