@font-face {
    font-family: 'Clinton';
    src: url('../fonts/Clinton-SemiBold.eot');
    src: url('../fonts/Clinton-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Clinton-SemiBold.woff2') format('woff2'),
        url('../fonts/Clinton-SemiBold.woff') format('woff'),
        url('../fonts/Clinton-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Clinton';
    src: url('../fonts/Clinton-ExtraBold.eot');
    src: url('../fonts/Clinton-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Clinton-ExtraBold.woff2') format('woff2'),
        url('../fonts/Clinton-ExtraBold.woff') format('woff'),
        url('../fonts/Clinton-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
