html {
    font-family: sans-serif;
    color: theme('colors.black');
}

body {
    @apply font-text font-normal;
    font-style: normal;
    background: theme('colors.white');
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-title font-extrabold;
    font-style: normal;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

::selection {
    background: #e34863;
    text-shadow: none;
}

a {
    color: #2b6cb0;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    transition: color ease 100ms;
}

a:hover {
    color: lighten(#3182ce, 10%);
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

hr {
    @apply h-px my-4;
    background: theme('colors.grey.200');
}

.perfect-yellow {
    background-color: #fec454;
}

.perfect-yellow-text {
    color: #fec454;
}

.perfect-red-dark {
    background-color: #8f3156;
}

.perfect-red-dark-border {
    border: 1px solid rgba(154, 0, 36, 0.4)
}

.perfect-red-light {
    background-color: #e14761;
}

.perfect-red-light-light {
    background-color: rgba(225, 71, 97, 0.57);
}

.perfect-red-dark-light {
    background-color: rgba(143, 49, 86, 0.57);
}

.perfect-yellow-border {
    border: 1px solid #ff9e47;
}

.perfect-green {
    background-color: #2f8380;
}

.perfect-green-light {
    background: rgb(36, 104, 101);
}

.perfect-green-border {
    border-color: #2f8380;
}

.perfect-red-dark-dark-border {
    border: 1px solid rgb(136, 0, 33);
}

.perfect-green-dark-border {
    border: 1px solid rgba(0, 53, 51, 0.3);
}

.-z-1 {
    z-index: -1;
}

.header-menu {
    @apply flex flex-row flex-wrap items-center pl-0 mb-0;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    > li {
        @apply text-center;
        @screen md {
            @apply ml-4 text-left;
            &:nth-child(1) {
                @apply ml-0;
            }
        }
        > a {
            @apply text-4xl pointer-events-auto;
            @screen md {
                @apply px-3 pt-4 pb-2;
            }
            .twitter-color {
                color: #1da1f2;
            }
            .github-color {
                color: #000000;
            }
            .stack-overflow-color {
                color: #f48024;
            }
            .npm-color {
                color: #cb3837;
            }
            .discord-color {
                color: #6478bc;
            }
            &:hover, &:focus {
                .twitter-color {
                    color: lighten(#1da1f2, 5%);
                }
                .github-color {
                    color: lighten(#000000, 25%);
                }
                .stack-overflow-color {
                    color: lighten(#f48024, 5%);
                }
                .npm-color {
                    color: lighten(#cb3837, 5%);
                }
                .discord-color {
                    color: lighten(#6478bc, 5%);
                }
            }
        }
    }
}

.bg-img-red-dark {
    background-image: url('/images/dark-red-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-red-light {
    background-image: url('/images/light-red-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.steps-menu {
    overflow-x: auto;
    white-space: nowrap;
    @screen md {
        overflow-x: none;
        white-space: normal;
    }
    button {
        background-color: rgb(202, 255, 253);
        color: black;
        border-color: #246562;
        &:hover, &:focus {
            background-color: lighten(rgb(202, 255, 253), 5%);
        }
    }
    .select {
        @apply font-bold text-white pl-3 pr-4;
        background-color: #e14761;
        border-color: #fab155;
        &:hover, &:focus {
            background-color: #e14761;
        }
        span {
            @apply inline-block text-black rounded-full w-6 h-6 mr-2;
            background: rgba(254, 196, 84, 0.89);
        }
    }
}

.project-box {
    background-color: rgb(202, 255, 253);
    transition: background ease 150ms;
    &:hover, &:focus {
        background-color: lighten(rgb(202, 255, 253), 3%);
    }
}

.footer-menu {
    @apply flex flex-row flex-wrap items-center pl-0 mb-0;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    > li {
        @apply text-center;
        @screen md {
            @apply ml-4 text-left;
            &:nth-child(1) {
                @apply ml-0;
            }
        }
        > a {
            @apply text-xl pointer-events-auto;
            @screen md {
                @apply px-3 py-2;
            }
            .twitter-color {
                color: #1da1f2;
            }
            .github-color {
                color: #000000;
            }
            .stack-overflow-color {
                color: #f48024;
            }
            .npm-color {
                color: #cb3837;
            }
            .discord-color {
                color: #6478bc;
            }
            &:hover, &:focus {
                .twitter-color {
                    color: lighten(#1da1f2, 5%);
                }
                .github-color {
                    color: lighten(#000000, 25%);
                }
                .stack-overflow-color {
                    color: lighten(#f48024, 5%);
                }
                .npm-color {
                    color: lighten(#cb3837, 5%);
                }
                .discord-color {
                    color: lighten(#6478bc, 5%);
                }
            }
        }
    }
}
