.header {
    @apply relative;
    border-top: 6px solid #8F2D56;
    .background {
        @apply hidden;
        @screen md {
            @apply block;
        }
        .shape-1 {
            @apply ml-auto;
            width: 470px;
            height: 470px;
            background-image: linear-gradient( 135deg, lighten(#D81159, 10%) 10%, #D81159 100%);
            transform: rotate(-10deg);
        }
    }
    .forground {
        @screen md {
            @apply absolute w-full pointer-events-none;
            top: 0;
            z-index: 3;
        }
        h1 {
            @apply mb-4 leading-tight;
            font-size: 3.5rem;
            @screen md {
                font-size: 5rem;
            }
        }
        .sub-title {
            @apply inline-block text-black text-2xl leading-normal py-2 pt-3 px-4 mb-6;
            background-image: linear-gradient( 135deg, lighten(#FFBC42, 10%) 10%, #FFBC42 100%);
            &::selection {
                @apply bg-orange-dark;
            }
        }
    }
}
