.header {
    @apply py-16 relative overflow-x-hidden;
    @screen md {
        @apply py-0 overflow-hidden;
    }
    .background {
        @apply hidden absolute pin;
        z-index: -1;
        @screen md {
            @apply block;
        }
        .shape-1 {
            width: 250px;
            height: 225px;
            background-image: linear-gradient( 135deg, lighten(#D81159, 10%) 10%, #D81159 100%);
        }
    }
    h1 {
        font-size: 3.5rem;
        @screen md {
            font-size: 5rem;
        }
    }
    .sub-title {
        @apply inline-block font-cutive-mono text-black text-2xl py-2 px-4 mb-6;
        background-image: linear-gradient( 135deg, lighten(#FFBC42, 10%) 10%, #FFBC42 100%);
        &::selection {
            @apply bg-orange-lighter;
        }
    }
}
