.langs {
    @apply relative overflow-x-hidden;
    @screen md {
        @apply overflow-hidden;
    }
    h2 {
        @apply inline-block text-5xl mb-8;
        border-bottom: 2px solid #d81159;
    }
    .lang {
        .svg-inline--fa {
            @apply mb-3;
            font-size: 4rem;
        }
    }
    .background {
        @apply hidden absolute pin;
        z-index: -1;
        @screen md {
            @apply block;
        }
        .shape-3 {
            @apply ml-auto;
            width: 250px;
            height: 225px;
            background-image: linear-gradient(135deg, #ffce75 10%, #ffbc42 100%);
        }
    }
}
