.langs {
    @apply pb-16 pt-8;
    @screen md {
        @apply pb-32 pt-10;
    }
    h2 {
        @apply inline-block text-5xl leading-tight mb-8 pb-4;
        border-bottom: 2px solid #d81159;
    }
    .lang {
        @apply text-center;
        font-size: 3.5rem;
        @screen md {
            @apply text-left;
            font-size: 5rem;
        }
        .svg-inline--fa {
            @apply mb-3;
        }
    }
}
