.links {
    @apply flex flex-col items-center justify-end pl-0 mb-0 list-reset;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    @screen md {
        @apply flex-row;
    }
    > li {
        @apply mb-6;
        &:last-child {
            @apply mb-0;
        }
        @screen md {
            @apply ml-6 mb-0;
            &:nth-child(1) {
                @apply ml-0;
            }
        }
        > a {
            color: #ffbc42;
            &:hover, &:focus {
                @apply text-white;
            }
            .svg-inline--fa {
                @apply text-5xl mb-4;
                @screen md {
                    @apply text-base mb-0;
                }
            }
            span {
                @apply block ml-0;
                @screen md {
                    @apply inline-block ml-1;
                }
            }
        }
    }
}
