.stars {
    background-image: linear-gradient( 135deg, #ffffff 10%, #fff1b9 100%);
    h2 {
        @apply inline-block text-5xl mb-8;
        border-bottom: 2px solid #d81159;
    }
    .star {
        @apply flex flex-col text-black py-12 px-5;
        background-image: linear-gradient(135deg, #ffce75 10%, #ffbc42 100%);
        box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.1);
        .star-img {
            @apply text-center mb-4;
            img {
                @apply w-32;
                transition: transform 250ms ease;
            }
        }
        .star-content {
            @apply text-center;
            h3 {
                @apply text-3xl mb-3 font-kalam;
            }
            .sub-title {
                @apply text-xl mb-3;
            }
            p {
                @apply text-lg;
            }
        }
        &:hover {
            .star-img {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
