.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    @apply text-sm rounded shadow;
    background: black;
    color: white;
    padding: 5px 10px 4px;
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

.tooltip.tooltip-sm {
  .tooltip-inner {
    @apply text-xxs;
  }
}